@import '1-helpers/mixins'
@import '1-helpers/tableMixins'
@import '1-helpers/variables'
@import '2-elements/button'
@import '2-elements/div'
@import '2-elements/footer'
@import '2-elements/navbar'
@import '2-elements/select'
@import '2-elements/selectors'
@import '2-elements/svg'
@import '2-elements/table'
@import '2-elements/text'
@import '3-componenets/editAppointment'
@import '3-componenets/filter'
@import '3-componenets/logInSignup'
@import '3-componenets/newAppointment'
@import '3-componenets/print'
@import '3-componenets/search'
@import '4-media/filter'
@import '4-media/logInSignup'
@import '4-media/newAppointment'
@import '4-media/navbar'
@import '4-media/search'
@import '4-media/table'

*
    font-family: Heebo
    box-sizing: border-box
html, body
    height: 100%

body
    display: flex
    flex-direction: column
