.edit
    label
        font-weight: light
        font-size: 0.85rem
        color: $secondary

    td input[type="text"], td input[type="date"], td input[type="time"]
        border: $light-border
        border-radius: 4px
        max-width: 95%
        height: 2em

    td textarea
        border: $light-border
        max-width: 95%
        border-radius: 4px
        line-height: 1.2em
        height: 4em

    td input[type="checkbox"]
        margin-top: 10px
