form
    line-height: 2em
    display: inline-block
    width: 95%
label
    width: 25%
    float: right
    padding-right: 30px
input[type="text"], input[type="date"], input[type="time"]
    width: 50%
    height: 1.55em
    &:focus
        outline: 0
textarea
    height: 3em
    width: 50%
.checkbox
    width: 100%
