.container
    height: 100%
    width: 100%
    display: block
    overflow: auto
    padding-bottom: 200px

.new-appointment-container
    margin: 0 auto
.buttons
    margin-top: 15px

.hidden
    height: 100px
.content
    padding-top: 85px
    display: block

.navbar-hello
    color: $purple
    font-weight: bold
    font-size: 1.1rem
    padding: 20px
    padding-bottom: 0
    margin: 20px
    margin-bottom: 0
    margin-top: 0
    text-transform: uppercase
