.container
    width: 100%
.new-appointment-container
    margin: 0 auto
.buttons
    margin-top: 15px
.title
    font-weight: bold
    font-size: 0.8rem
    margin-top: 3px
    margin-bottom: 0
.description
    margin-bottom: 0
    margin-top: 0
.additional-info
    margin: 0
    padding: 0
