#footer
    background-image: linear-gradient(transparent , $primary 5%)
    color: $secondary
    height: 50px
    bottom: 0
    border-top: none
    width: 100%
    font-size: 85%
    padding-top: 15px
    text-align: center
    position: fixed
    display: block
