.footer
    overflow: hidden
    background-color: $primary
    height: 50px
    padding: 20px
    text-align: center
    font-size: .8em
    color: $secondary
    margin-top: 50px
    bottom: 0
    width: 100%
