=nevbar-general($padding-top)
    background-color: $primary
    top: 0
    position: fixed
    width: 100%
    z-index: 1
    ul
        margin: 0
        padding: 0
        width: 100%
        height: 80px
        padding-top: $padding-top
        padding-bottom: 20px

    li
        display: inline-block
        margin-left: 20px
        margin-right: 20px
        font-size: 1.15rem
        select
            background-color: transparent
            border: none
            font-size: 1.2rem
            color: $background
            &:hover
                color: $hover

    button
        background-color: transparent
        color: $background
        border: none
        margin: 0
        height: 50px
        padding: 5px
        width: auto
        font-size: 1.1em
        +button-hover($clicked)
        path
            fill: $background

.navbar-lang-only
    +nevbar-general(20px)

.navbar
    +nevbar-general(10px)

=responsive-nevbar()
    .navbar
        background-color: $table-header

        ul
            justify-content: space-between
        li
            display: inline-block
            margin: 5px
            flex: 0 1 auto
            select
                font-size: 1.1rem
                color: $primary
        button
            font-size: 1.1rem
            color: $primary

@media only screen and (max-width: 760px)
    +responsive-nevbar()

@media (min-device-width: 768px) and (max-device-width: 1024px)
    +responsive-nevbar()
