
.h1-title
    text-align: center
    font-size: 2em
    font-weight: bold
    margin-top: 20px
.title
    font-weight: bold
    font-size: 0.8rem
    margin-top: 3px
    margin-bottom: 0
.description
    margin-bottom: 0
    margin-top: 0
    line-height: 1em
.no-results
    font-size: 1.55em
    text-align: center
    color: $secondary
