
=button-edit-save($color)
    margin: 5px
    margin-top: 10px
    background-color: $color
    border: none
    border-radius: 4px
    line-height: 2em
    &:hover
        background-color: $hover
        cursor: pointer

=button-hover($color)
    &:hover
        outline: 0
        color: $color
        font-weight: bolder
        cursor: pointer
        fill: $color

=primary-button($height, $width, $font, $f-weight, $background)
    height: $height
    width: $width
    font-size: $font
    font-weight: $f-weight
    background-color: $background
    border: none
    border-radius: 4px
    padding: 0px
    &:hover
        cursor: pointer
        color: $hover
