$primary: #222222
$secondary: #616161

$background: #f9f7f7
$table: #b4b2b2
$row-hover: #e5e3dd
$secondary-background: #888888
$table-header: #56b9c8

$hover: #ce9f3c
$clicked: #ce9f3c
$hazard: #e99af7
// $clicked: #9b001afc
$save: #57b4b4
$border: 1px solid $secondary
$light-border: 0.25px solid $secondary
