@charset "UTF-8";
.hidden-button-en {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding-top: 0;
  margin-top: -1px;
  vertical-align: center;
}
.hidden-button-en:active {
  outline: 0;
}
.hidden-button-en:focus {
  outline: 0;
}
.hidden-button-en:checked {
  outline: 0;
}
.hidden-button-en:hover {
  outline: 0;
  color: lightgrey;
  font-weight: bolder;
  cursor: pointer;
}

.hidden-button-he {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding-top: 0;
  margin-top: -1px;
  vertical-align: center;
  color: gold;
}
.hidden-button-he:active {
  outline: 0;
}
.hidden-button-he:focus {
  outline: 0;
}
.hidden-button-he:checked {
  outline: 0;
}
.hidden-button-he:hover {
  outline: 0;
  color: lightgrey;
  font-weight: bolder;
  cursor: pointer;
}

.hidden-button-en-no {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding-top: 0;
  margin-top: -1px;
  vertical-align: center;
}
.hidden-button-en-no:active {
  outline: 0;
}
.hidden-button-en-no:focus {
  outline: 0;
}
.hidden-button-en-no:checked {
  outline: 0;
}

.hidden-button-he-no {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding-top: 0;
  margin-top: -1px;
  vertical-align: center;
  color: gold;
}
.hidden-button-he-no:active {
  outline: 0;
}
.hidden-button-he-no:focus {
  outline: 0;
}
.hidden-button-he-no:checked {
  outline: 0;
}

.sorting {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding-top: 0;
  margin-top: -1px;
  vertical-align: center;
  color: darkgrey;
}
.sorting:active {
  outline: 0;
}
.sorting:focus {
  outline: 0;
}
.sorting:checked {
  outline: 0;
}

.x-btn {
  color: balck;
  padding: 0;
  background-color: red;
}

.container {
  width: 100%;
}

.no-margin {
  margin: 0;
}

svg {
  margin: 5px;
}

path {
  fill: darkgrey;
}

.confirm-delete {
  color: red;
}

button {
  width: 100px;
  height: 50px;
}

table, th, td {
  border: 1px solid darkgrey;
  border-collapse: collapse;
  text-align: center;
  vertical-align: top;
  margin: 5px;
  width: 95%;
  padding-top: 10px;
  padding-right: 0;
  padding-left: 0;
  table-layout: fixed;
  margin: 0 auto;
}

th {
  height: 100px;
}

tr:hover {
  background-color: darkgrey;
}

@media only screen and (max-width: 760px) {
  .table-en table {
    display: block;
    border: none;
    text-align: left;
  }
  .table-en thead {
    display: block;
    border: none;
    text-align: left;
  }
  .table-en thead tr {
    position: absolute;
    color: transparent;
    padding: 0;
    top: -9999px;
    left: -9999px;
    right: 0;
  }
  .table-en td {
    display: block;
    border: none;
    text-align: left;
    border: none;
    vertical-align: middle;
    position: relative;
    padding: 0.05rem;
    padding-left: 60%;
    padding-top: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
  }
  .table-en td:before {
    position: absolute;
    left: 6px;
    right: 6px;
    width: 40%;
    padding-left: 0;
    padding-right: 10px;
    white-space: nowrap;
    vertical-align: middle;
    white-space: pre-line;
    padding-bottom: 5px;
  }
  .table-en td:nth-of-type(1):before {
    content: "Date";
  }
  .table-en td:nth-of-type(2):before {
    content: "Doctor";
  }
  .table-en td:nth-of-type(3):before {
    content: "Patient Name";
  }
  .table-en td:nth-of-type(4):before {
    content: "Address";
  }
  .table-en td:nth-of-type(5):before {
    content: "Need Insurance";
  }
  .table-en td:nth-of-type(6):before {
    content: "Approved By Insurance";
  }
  .table-en td:nth-of-type(7):before {
    content: "Additional Information";
  }
  .table-en tr {
    display: block;
    border: none;
    text-align: left;
    vertical-align: end;
    border: none;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px dashed;
  }

  .table-he table {
    display: block;
    border: none;
    text-align: right;
  }
  .table-he thead {
    display: block;
    border: none;
    text-align: right;
  }
  .table-he thead tr {
    position: absolute;
    color: transparent;
    padding: 0;
    top: -9999px;
    left: 0;
    right: -9999px;
  }
  .table-he td {
    display: block;
    border: none;
    text-align: right;
    border: none;
    vertical-align: middle;
    position: relative;
    padding: 0.05rem;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 60%;
    margin-bottom: 10px;
  }
  .table-he td:before {
    position: absolute;
    left: 6px;
    right: 6px;
    width: 40%;
    padding-left: 10px;
    padding-right: 0;
    white-space: nowrap;
    vertical-align: middle;
    white-space: pre-line;
    padding-bottom: 5px;
  }
  .table-he td:nth-of-type(1):before {
    content: "תאריך";
  }
  .table-he td:nth-of-type(2):before {
    content: "רופא";
  }
  .table-he td:nth-of-type(3):before {
    content: "עבור מי";
  }
  .table-he td:nth-of-type(4):before {
    content: "כתובת";
  }
  .table-he td:nth-of-type(5):before {
    content: "ממתין לאישור";
  }
  .table-he td:nth-of-type(6):before {
    content: "אושר";
  }
  .table-he td:nth-of-type(7):before {
    content: "מידע נוסף";
  }
  .table-he tr {
    display: block;
    border: none;
    text-align: right;
    vertical-align: end;
    border: none;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px dashed;
  }
}
@media (min-device-width: 768px) and (max-device-width: 1024px) {
  .table-en table {
    display: block;
    border: none;
    text-align: left;
  }
  .table-en thead {
    display: block;
    border: none;
    text-align: left;
  }
  .table-en thead tr {
    position: absolute;
    color: transparent;
    padding: 0;
    top: -9999px;
    left: -9999px;
    right: 0;
  }
  .table-en td {
    display: block;
    border: none;
    text-align: left;
    border: none;
    vertical-align: middle;
    position: relative;
    padding: 0.05rem;
    padding-left: 60%;
    padding-top: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
  }
  .table-en td:before {
    position: absolute;
    left: 6px;
    right: 6px;
    width: 40%;
    padding-left: 0;
    padding-right: 10px;
    white-space: nowrap;
    vertical-align: middle;
    white-space: pre-line;
    padding-bottom: 5px;
  }
  .table-en td:nth-of-type(1):before {
    content: "Date";
  }
  .table-en td:nth-of-type(2):before {
    content: "Doctor";
  }
  .table-en td:nth-of-type(3):before {
    content: "Patient Name";
  }
  .table-en td:nth-of-type(4):before {
    content: "Address";
  }
  .table-en td:nth-of-type(5):before {
    content: "Need Insurance";
  }
  .table-en td:nth-of-type(6):before {
    content: "Approved By Insurance";
  }
  .table-en td:nth-of-type(7):before {
    content: "Additional Information";
  }
  .table-en tr {
    display: block;
    border: none;
    text-align: left;
    vertical-align: end;
    border: none;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px dashed;
  }

  .table-he table {
    display: block;
    border: none;
    text-align: right;
  }
  .table-he thead {
    display: block;
    border: none;
    text-align: right;
  }
  .table-he thead tr {
    position: absolute;
    color: transparent;
    padding: 0;
    top: -9999px;
    left: 0;
    right: -9999px;
  }
  .table-he td {
    display: block;
    border: none;
    text-align: right;
    border: none;
    vertical-align: middle;
    position: relative;
    padding: 0.05rem;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 60%;
    margin-bottom: 10px;
  }
  .table-he td:before {
    position: absolute;
    left: 6px;
    right: 6px;
    width: 40%;
    padding-left: 10px;
    padding-right: 0;
    white-space: nowrap;
    vertical-align: middle;
    white-space: pre-line;
    padding-bottom: 5px;
  }
  .table-he td:nth-of-type(1):before {
    content: "תאריך";
  }
  .table-he td:nth-of-type(2):before {
    content: "רופא";
  }
  .table-he td:nth-of-type(3):before {
    content: "עבור מי";
  }
  .table-he td:nth-of-type(4):before {
    content: "כתובת";
  }
  .table-he td:nth-of-type(5):before {
    content: "ממתין לאישור";
  }
  .table-he td:nth-of-type(6):before {
    content: "אושר";
  }
  .table-he td:nth-of-type(7):before {
    content: "מידע נוסף";
  }
  .table-he tr {
    display: block;
    border: none;
    text-align: right;
    vertical-align: end;
    border: none;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px dashed;
  }
}
* {
  font-family: Inconsolata;
  box-sizing: border-box;
  margin: 0.5em;
}

/*# sourceMappingURL=App.css.map */
