@charset "UTF-8";
.vertical-buttons {
  display: inline-grid;
}

.hidden-button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding-top: 0;
  margin-top: -1px;
  vertical-align: center;
}
.hidden-button:hover {
  outline: 0;
  color: #ce9f3c;
  font-weight: bolder;
  cursor: pointer;
  fill: #ce9f3c;
}

.hidden-button-no-sorting {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding-top: 0;
  margin-top: -1px;
  vertical-align: center;
}

.sorting {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding-top: 0;
  margin-top: -1px;
  vertical-align: center;
  color: #616161;
}

.x-btn {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding-top: 0;
  margin-top: -1px;
  vertical-align: center;
}
.x-btn:hover {
  outline: 0;
  color: #616161;
  font-weight: bolder;
  cursor: pointer;
  fill: #616161;
}

.button-save {
  margin: 5px;
  margin-top: 10px;
  background-color: #57b4b4;
  border: none;
  border-radius: 4px;
  line-height: 2em;
}
.button-save:hover {
  background-color: #ce9f3c;
  cursor: pointer;
}

.button-cancel {
  margin: 5px;
  margin-top: 10px;
  background-color: #616161;
  border: none;
  border-radius: 4px;
  line-height: 2em;
}
.button-cancel:hover {
  background-color: #ce9f3c;
  cursor: pointer;
}

.button-delete {
  margin: 5px;
  margin-top: 10px;
  background-color: #9b001afc;
  border: none;
  border-radius: 4px;
  line-height: 2em;
}
.button-delete:hover {
  background-color: #ce9f3c;
  cursor: pointer;
}

.svg-button {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
}

.close-search-btn-en {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  float: left;
}

.close-search-btn-he {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  float: right;
}

.container {
  height: 100%;
  width: 100%;
  display: block;
  overflow: auto;
  padding-bottom: 200px;
}

.new-appointment-container {
  margin: 0 auto;
}

.buttons {
  margin-top: 15px;
}

.hidden {
  height: 100px;
}

.content {
  padding-top: 120px;
  display: block;
}

.navbar-hello {
  color: #7268a6;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 20px;
  padding-bottom: 0;
  margin: 20px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

#footer {
  background-image: linear-gradient(transparent, #222222 5%);
  color: #616161;
  height: 50px;
  bottom: 0;
  border-top: none;
  width: 100%;
  font-size: 85%;
  padding-top: 15px;
  text-align: center;
  position: fixed;
  display: block;
}

.navbar-lang-only {
  background-color: #222222;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: auto;
  display: block;
  transition: top 0.3s;
}
.navbar-lang-only ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80px;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar-lang-only li {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.15rem;
}
.navbar-lang-only li select {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  color: #f9f7f7;
}
.navbar-lang-only li select:hover {
  color: #ce9f3c;
}
.navbar-lang-only .search-btn {
  color: #222222;
  background-color: #56b9c8;
  height: 50px;
  padding: 5px;
  font-weight: bold;
}
.navbar-lang-only input[type=text] {
  height: 50px;
  width: 35%;
  padding: 0;
  border-radius: 0;
}
.navbar-lang-only button {
  background-color: transparent;
  color: #f9f7f7;
  border: none;
  margin: 0;
  height: 50px;
  padding: 5px;
  width: auto;
  font-size: 1.1em;
}
.navbar-lang-only button:hover {
  outline: 0;
  color: #ce9f3c;
  font-weight: bolder;
  cursor: pointer;
  fill: #ce9f3c;
}
.navbar-lang-only button path {
  fill: #f9f7f7;
}
.navbar-lang-only button:hover path {
  fill: #ce9f3c;
}

.navbar {
  background-color: #222222;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: auto;
  display: block;
  transition: top 0.3s;
}
.navbar ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.navbar li {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.15rem;
}
.navbar li select {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  color: #f9f7f7;
}
.navbar li select:hover {
  color: #ce9f3c;
}
.navbar .search-btn {
  color: #222222;
  background-color: #56b9c8;
  height: 50px;
  padding: 5px;
  font-weight: bold;
}
.navbar input[type=text] {
  height: 50px;
  width: 35%;
  padding: 0;
  border-radius: 0;
}
.navbar button {
  background-color: transparent;
  color: #f9f7f7;
  border: none;
  margin: 0;
  height: 50px;
  padding: 5px;
  width: auto;
  font-size: 1.1em;
}
.navbar button:hover {
  outline: 0;
  color: #ce9f3c;
  font-weight: bolder;
  cursor: pointer;
  fill: #ce9f3c;
}
.navbar button path {
  fill: #f9f7f7;
}
.navbar button:hover path {
  fill: #ce9f3c;
}

.select-he {
  line-height: 1.5em;
  border: 1px solid #616161;
  border-radius: 4px;
  display: inline-block;
  width: 300px;
  padding: 5px;
  margin: 0 auto;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) #ddd;
  background-position: right;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  background-position-x: 10px;
}
.select-he:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.select-en {
  line-height: 1.5em;
  border: 1px solid #616161;
  border-radius: 4px;
  display: inline-block;
  width: 300px;
  padding: 5px;
  margin: 0 auto;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) #ddd;
  background-position: right;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  background-position-x: 270px;
}
.select-en:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

*:clicked {
  border: none;
}
*:focus {
  background-repeat: no-repeat;
  border-color: #616161;
  outline: 0;
}
*:active {
  outline: 0;
}
*:checked {
  outline: 0;
}

path {
  fill: #616161;
}
path:hover {
  fill: #ce9f3c;
  cursor: pointer;
}

.print path {
  fill: #f9f7f7;
}
.print path:hover {
  fill: #ce9f3c;
  cursor: pointer;
}

.delete:hover {
  fill: #9b001afc;
  cursor: pointer;
}

table, th, td {
  border-top: 1px solid #616161;
  border-bottom: 1px solid #616161;
  border-collapse: collapse;
  text-align: center;
  vertical-align: center;
  margin: 5px;
  width: 95%;
  padding-top: 10px;
  padding-right: 0;
  padding-left: 0;
  table-layout: fixed;
  margin: 0 auto;
}

table {
  border: 1px solid #616161;
}

th {
  height: 100px;
  background-color: #56b9c8;
}

tr {
  background-color: #e5e3dd;
}
tr:hover {
  background-color: #b4b2b2;
}

.first-column {
  width: 2.75em;
}

thead tr {
  background-color: #56b9c8;
}
thead tr:hover {
  background-color: #56b9c8;
}

.table-errors {
  color: #e5e3dd;
  background-color: #9b001afc;
}
.table-errors td {
  padding-bottom: 10px;
}

.h1-title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-top: 20px;
}

.title {
  font-weight: bold;
  font-size: 0.8rem;
  padding-top: 10px;
  margin-top: 3px;
  margin-bottom: 0;
}

.description {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1em;
}

.no-results {
  font-size: 1.55em;
  text-align: center;
  color: #616161;
}

.error-message {
  color: #9b001afc;
  padding: 20px;
}

.edit label {
  font-weight: light;
  font-size: 0.85rem;
  color: #616161;
}
.edit td input[type=text], .edit td input[type=date], .edit td input[type=time] {
  border: 0.25px solid #616161;
  border-radius: 4px;
  max-width: 95%;
  height: 2em;
}
.edit td textarea {
  border: 0.25px solid #616161;
  max-width: 95%;
  border-radius: 4px;
  line-height: 1.2em;
  height: 4em;
}
.edit td input[type=checkbox] {
  margin-top: 10px;
}

.filter {
  display: block;
  text-align: center;
  padding-bottom: 20px;
  margin: auto;
  padding: 10px;
}

.filter-label {
  display: block;
  text-align: center;
  width: 100%;
}
.filter-label select {
  font-size: 1.15rem;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.login-signup {
  width: 70%;
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
  background-color: #888888;
  text-align: center;
  margin-top: 100px;
  border-radius: 4px;
}
.login-signup button {
  height: 50px;
  width: 150px;
  font-size: 0.85em;
  font-weight: normal;
  background-color: #616161;
  border: none;
  border-radius: 4px;
  padding: 0px;
  margin-top: 20px;
  width: 80%;
  margin-bottom: 20px;
}
.login-signup button:hover {
  cursor: pointer;
  color: #ce9f3c;
}
.login-signup .toggle {
  background-color: #888888;
  font-size: 1.1em;
}
.login-signup .toggle:hover {
  color: #ce9f3c;
}

.login-signup-form {
  margin: 0 auto;
  padding: 30px;
  border-radius: 4px;
  background-color: #f9f7f7;
}
.login-signup-form input[type=text], .login-signup-form input[type=password] {
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  line-height: 1.75em;
  margin-top: 5px;
  margin-bottom: 5px;
}
.login-signup-form button {
  height: 50px;
  width: 150px;
  font-size: 1.15em;
  font-weight: bold;
  background-color: #57b4b4;
  border: none;
  border-radius: 4px;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.login-signup-form button:hover {
  cursor: pointer;
  color: #ce9f3c;
}
.login-signup-form button .toggle {
  color: #616161;
}

.submit {
  text-align: center;
}
.submit input[type=submit] {
  height: 50px;
  width: 150px;
  font-size: 1.15em;
  font-weight: bold;
  background-color: #57b4b4;
  border: none;
  border-radius: 4px;
  padding: 0px;
}
.submit input[type=submit]:hover {
  cursor: pointer;
  color: #ce9f3c;
}

.new-appointment-form-en {
  background-color: #888888;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}
.new-appointment-form-en h1 {
  text-align: center;
  margin-bottom: 10px;
}
.new-appointment-form-en form {
  line-height: 2em;
  display: inline-block;
  width: 95%;
  text-align: center;
}
.new-appointment-form-en label {
  width: 30%;
  float: left;
  text-align: left;
  margin-left: 50px;
  margin-right: 0;
}
.new-appointment-form-en input[type=text], .new-appointment-form-en input[type=date], .new-appointment-form-en input[type=time] {
  width: 50%;
  height: 1.85em;
}
.new-appointment-form-en textarea {
  height: 3.5em;
  width: 50%;
}
.new-appointment-form-en .checkbox {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 10px;
}
.new-appointment-form-en .checkbox label {
  padding-left: 50px;
  padding-right: 0;
  width: 80%;
}

.new-appointment-form-he {
  background-color: #888888;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}
.new-appointment-form-he h1 {
  text-align: center;
  margin-bottom: 10px;
}
.new-appointment-form-he form {
  line-height: 2em;
  display: inline-block;
  width: 95%;
  text-align: center;
}
.new-appointment-form-he label {
  width: 30%;
  float: right;
  text-align: right;
  margin-left: 0;
  margin-right: 50px;
}
.new-appointment-form-he input[type=text], .new-appointment-form-he input[type=date], .new-appointment-form-he input[type=time] {
  width: 50%;
  height: 1.85em;
}
.new-appointment-form-he textarea {
  height: 3.5em;
  width: 50%;
}
.new-appointment-form-he .checkbox {
  width: 100%;
  float: right;
  display: inline-block;
  margin-bottom: 10px;
}
.new-appointment-form-he .checkbox label {
  padding-left: 0;
  padding-right: 50px;
  width: 80%;
}

.print:hover {
  fill: #ce9f3c;
  cursor: pointer;
}

.close-search {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  padding: 0;
}

.open-search {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

.search-area {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 300px;
}

@media only screen and (max-width: 760px) {
  .search-area {
    width: 250px;
  }
}
@media (min-device-width: 768px) and (max-device-width: 1024px) {
  .search-area {
    width: 250px;
  }
}
@media only screen and (max-width: 760px) {
  .filter {
    margin-inline-start: 0;
    padding: 0;
  }

  .filter-label {
    padding: 5px;
  }

  .select-he {
    width: 250px;
  }

  .select-en {
    width: 250px;
  }
}
@media (min-device-width: 768px) and (max-device-width: 1024px) {
  .filter {
    margin-inline-start: 0;
    padding: 0;
  }

  .filter-label {
    padding: 5px;
  }

  .select-he {
    width: 250px;
  }

  .select-en {
    width: 250px;
  }
}
@media only screen and (max-width: 500px) {
  .login-signup {
    width: 90%;
  }
}
@media only screen and (max-width: 760px) {
  .new-appointment-form-en {
    width: 100%;
    padding: 5px;
    padding-bottom: 30px;
  }
  .new-appointment-form-en label {
    margin-left: 5px;
    margin-right: 0;
    line-height: 0.85em;
  }

  .new-appointment-form-he {
    width: 100%;
    padding: 5px;
    padding-bottom: 30px;
  }
  .new-appointment-form-he label {
    margin-left: 0;
    margin-right: 5px;
    line-height: 0.85em;
  }

  .new-appointment-form-en .checkbox, .new-appointment-form-he .checkbox {
    display: block;
  }

  label {
    width: 100%;
  }
}
@media (min-device-width: 768px) and (max-device-width: 1024px) {
  .new-appointment-form-en {
    width: 100%;
    padding: 5px;
    padding-bottom: 30px;
  }
  .new-appointment-form-en label {
    margin-left: 5px;
    margin-right: 0;
    line-height: 0.85em;
  }

  .new-appointment-form-he {
    width: 100%;
    padding: 5px;
    padding-bottom: 30px;
  }
  .new-appointment-form-he label {
    margin-left: 0;
    margin-right: 5px;
    line-height: 0.85em;
  }

  .new-appointment-form-en .checkbox, .new-appointment-form-he .checkbox {
    display: block;
  }

  label {
    width: 100%;
  }
}
@media only screen and (max-width: 760px) {
  .navbar {
    background-color: #56b9c8;
  }
  .navbar ul {
    justify-content: space-between;
  }
  .navbar li {
    display: inline-block;
    margin: 5px;
    flex: 0 1 auto;
  }
  .navbar li select {
    font-size: 1rem;
    color: #222222;
  }
  .navbar .search-btn {
    background-color: #222222;
    color: #56b9c8;
  }
  .navbar button {
    font-size: 1rem;
    color: #222222;
  }
  .navbar button path {
    fill: #222222;
  }
  .navbar input[type=text] {
    width: 55%;
    border-radius: 0;
  }

  .navbar button {
    margin: 0;
    padding: 0;
    height: 35px;
  }
}
@media only screen and (max-width: 460px) {
  .navbar {
    background-color: #56b9c8;
  }
  .navbar ul {
    justify-content: space-between;
  }
  .navbar li {
    display: inline-block;
    margin: 5px;
    flex: 0 1 auto;
  }
  .navbar li select {
    font-size: 1rem;
    color: #222222;
  }
  .navbar .search-btn {
    background-color: #222222;
    color: #56b9c8;
  }
  .navbar button {
    font-size: 1rem;
    color: #222222;
  }
  .navbar button path {
    fill: #222222;
  }
  .navbar input[type=text] {
    width: 55%;
    border-radius: 0;
  }

  .navbar ul {
    padding: 0;
    height: 90%;
  }
  .navbar button {
    margin: 0;
    padding: 0;
    height: 35px;
  }
}
@media only screen and (max-width: 351px) {
  .navbar {
    background-color: #56b9c8;
  }
  .navbar ul {
    justify-content: space-between;
  }
  .navbar li {
    display: inline-block;
    margin: 5px;
    flex: 0 1 auto;
  }
  .navbar li select {
    font-size: 0.9rem;
    color: #222222;
  }
  .navbar .search-btn {
    background-color: #222222;
    color: #56b9c8;
  }
  .navbar button {
    font-size: 0.9rem;
    color: #222222;
  }
  .navbar button path {
    fill: #222222;
  }
  .navbar input[type=text] {
    width: 55%;
    border-radius: 0;
  }

  .navbar ul {
    padding: 0;
    height: 90%;
  }
  .navbar button {
    margin: 0;
    padding: 0;
    height: 35px;
  }
}
@media (min-device-width: 768px) and (max-device-width: 1024px) {
  .navbar {
    background-color: #56b9c8;
  }
  .navbar ul {
    justify-content: space-between;
  }
  .navbar li {
    display: inline-block;
    margin: 5px;
    flex: 0 1 auto;
  }
  .navbar li select {
    font-size: 1.1rem;
    color: #222222;
  }
  .navbar .search-btn {
    background-color: #222222;
    color: #56b9c8;
  }
  .navbar button {
    font-size: 1.1rem;
    color: #222222;
  }
  .navbar button path {
    fill: #222222;
  }
  .navbar input[type=text] {
    width: 55%;
    border-radius: 0;
  }
}
@media only screen and (max-width: 760px) {
  .search-area {
    width: 250px;
  }
}
@media (min-device-width: 768px) and (max-device-width: 1024px) {
  .search-area {
    width: 250px;
  }
}
@media only screen and (max-width: 760px) {
  .table-en table {
    display: block;
    border: none;
    text-align: left;
  }
  .table-en thead {
    display: block;
    border: none;
    text-align: left;
  }
  .table-en thead tr {
    position: absolute;
    color: transparent;
    padding: 0;
    top: -9999px;
    left: -9999px;
    right: 0;
  }
  .table-en td {
    display: block;
    border: none;
    text-align: left;
    border: none;
    vertical-align: middle;
    position: relative;
    padding: 0.05rem;
    padding-left: 40%;
    padding-top: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
  }
  .table-en td:before {
    position: absolute;
    left: 6px;
    right: 6px;
    width: 40%;
    padding-left: 0;
    padding-right: 10px;
    white-space: nowrap;
    vertical-align: middle;
    white-space: pre-line;
    padding-bottom: 5px;
  }
  .table-en td:nth-of-type(1):before {
    content: "Date";
  }
  .table-en td:nth-of-type(2):before {
    content: "Doctor";
  }
  .table-en td:nth-of-type(3):before {
    content: "Patient Name";
  }
  .table-en td:nth-of-type(4):before {
    content: "Address";
  }
  .table-en td:nth-of-type(5):before {
    content: "Need Insurance";
  }
  .table-en td:nth-of-type(6):before {
    content: "Approved By Insurance";
  }
  .table-en td:nth-of-type(7):before {
    content: "Additional Information";
    padding-bottom: 400px;
  }
  .table-en tr {
    display: block;
    border: none;
    text-align: left;
    vertical-align: end;
    border: none;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid;
  }
  .table-en tr:nth-child(odd) {
    background-color: #888888;
  }
  .table-en svg {
    margin: 8px;
  }

  .table-he table {
    display: block;
    border: none;
    text-align: right;
  }
  .table-he thead {
    display: block;
    border: none;
    text-align: right;
  }
  .table-he thead tr {
    position: absolute;
    color: transparent;
    padding: 0;
    top: -9999px;
    left: 0;
    right: -9999px;
  }
  .table-he td {
    display: block;
    border: none;
    text-align: right;
    border: none;
    vertical-align: middle;
    position: relative;
    padding: 0.05rem;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 40%;
    margin-bottom: 10px;
  }
  .table-he td:before {
    position: absolute;
    left: 6px;
    right: 6px;
    width: 40%;
    padding-left: 10px;
    padding-right: 0;
    white-space: nowrap;
    vertical-align: middle;
    white-space: pre-line;
    padding-bottom: 5px;
  }
  .table-he td:nth-of-type(1):before {
    content: "תאריך";
  }
  .table-he td:nth-of-type(2):before {
    content: "רופא";
  }
  .table-he td:nth-of-type(3):before {
    content: "עבור מי";
  }
  .table-he td:nth-of-type(4):before {
    content: "כתובת";
  }
  .table-he td:nth-of-type(5):before {
    content: "ממתין לאישור";
  }
  .table-he td:nth-of-type(6):before {
    content: "אושר";
  }
  .table-he td:nth-of-type(7):before {
    content: "מידע נוסף";
    padding-bottom: 400px;
  }
  .table-he tr {
    display: block;
    border: none;
    text-align: right;
    vertical-align: end;
    border: none;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid;
  }
  .table-he tr:nth-child(odd) {
    background-color: #888888;
  }
  .table-he svg {
    margin: 8px;
  }
}
@media (min-device-width: 768px) and (max-device-width: 1024px) {
  .table-en table {
    display: block;
    border: none;
    text-align: left;
  }
  .table-en thead {
    display: block;
    border: none;
    text-align: left;
  }
  .table-en thead tr {
    position: absolute;
    color: transparent;
    padding: 0;
    top: -9999px;
    left: -9999px;
    right: 0;
  }
  .table-en td {
    display: block;
    border: none;
    text-align: left;
    border: none;
    vertical-align: middle;
    position: relative;
    padding: 0.05rem;
    padding-left: 40%;
    padding-top: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
  }
  .table-en td:before {
    position: absolute;
    left: 6px;
    right: 6px;
    width: 40%;
    padding-left: 0;
    padding-right: 10px;
    white-space: nowrap;
    vertical-align: middle;
    white-space: pre-line;
    padding-bottom: 5px;
  }
  .table-en td:nth-of-type(1):before {
    content: "Date";
  }
  .table-en td:nth-of-type(2):before {
    content: "Doctor";
  }
  .table-en td:nth-of-type(3):before {
    content: "Patient Name";
  }
  .table-en td:nth-of-type(4):before {
    content: "Address";
  }
  .table-en td:nth-of-type(5):before {
    content: "Need Insurance";
  }
  .table-en td:nth-of-type(6):before {
    content: "Approved By Insurance";
  }
  .table-en td:nth-of-type(7):before {
    content: "Additional Information";
    padding-bottom: 400px;
  }
  .table-en tr {
    display: block;
    border: none;
    text-align: left;
    vertical-align: end;
    border: none;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid;
  }
  .table-en tr:nth-child(odd) {
    background-color: #888888;
  }
  .table-en svg {
    margin: 8px;
  }

  .table-he table {
    display: block;
    border: none;
    text-align: right;
  }
  .table-he thead {
    display: block;
    border: none;
    text-align: right;
  }
  .table-he thead tr {
    position: absolute;
    color: transparent;
    padding: 0;
    top: -9999px;
    left: 0;
    right: -9999px;
  }
  .table-he td {
    display: block;
    border: none;
    text-align: right;
    border: none;
    vertical-align: middle;
    position: relative;
    padding: 0.05rem;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 40%;
    margin-bottom: 10px;
  }
  .table-he td:before {
    position: absolute;
    left: 6px;
    right: 6px;
    width: 40%;
    padding-left: 10px;
    padding-right: 0;
    white-space: nowrap;
    vertical-align: middle;
    white-space: pre-line;
    padding-bottom: 5px;
  }
  .table-he td:nth-of-type(1):before {
    content: "תאריך";
  }
  .table-he td:nth-of-type(2):before {
    content: "רופא";
  }
  .table-he td:nth-of-type(3):before {
    content: "עבור מי";
  }
  .table-he td:nth-of-type(4):before {
    content: "כתובת";
  }
  .table-he td:nth-of-type(5):before {
    content: "ממתין לאישור";
  }
  .table-he td:nth-of-type(6):before {
    content: "אושר";
  }
  .table-he td:nth-of-type(7):before {
    content: "מידע נוסף";
    padding-bottom: 400px;
  }
  .table-he tr {
    display: block;
    border: none;
    text-align: right;
    vertical-align: end;
    border: none;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid;
  }
  .table-he tr:nth-child(odd) {
    background-color: #888888;
  }
  .table-he svg {
    margin: 8px;
  }
}
* {
  font-family: Heebo;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=App.css.map */
